name: Test Aufgabe3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: ./Aufgabe3  # Specify the checkout path here

      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.15.0
        with:
          java-version: 21
          maven-version: 3.9.9

      - name: List contents of Aufgabe3
        run: ls -R Aufgabe3

      - name: Display Java version
        run: java -version

      - name: Display Maven version
        run: mvn -version

      - run: |
          cd Aufgabe3
          mvn -V clean install
        shell: bash

      - name: Upload JAR file
          uses: actions/upload-artifact@v4
          with:
            name: JAR
            path: target/*.jar